{
  "extension": [".ts"],
  "include": ["src/**/*.ts"],
  "exclude": ["tests", "dist", "node_modules"],
  "reporter": ["text", "lcov", "html"],
  "all": true,
  "check-coverage": true,
  "statements": 100,
  "branches": 100,
  "functions": 100,
  "lines": 100,
  "require": ["ts-node/register"]
}
